/**
 * JoinChat - Base CSS for private pages (Logged in)
 */
 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*overflow-x: hidden;*/
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
    /*margin-right: -190px;*/
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper.toggled .sidebar-nav {
    width: auto;
    text-indent: 9px;
}

#wrapper.toggled .sidebar-nav  li {
    text-indent: 9px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li span.icon {
    text-indent: 0;
    margin-right: 10px;
}

.sidebar-nav li a:hover {
    text-decoration: underline;
    /*color: #fff;
    background: rgba(255,255,255,0.2);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-brand .brand-title, .sidebar-brand .helper-brand {
    color: #999999;
    font-weight: bold;
    letter-spacing: 2px;
}

.sidebar-brand .brand-title:hover, .sidebar-brand .helper-brand:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    display: inline-block;
    width: 38px;
    float: right;
    text-indent: 0;
    margin-top: 15px;
    margin-right: 13px;
}

#wrapper.toggled #sidebar-wrapper li span:not(.icon) {
    display: none;
}

#wrapper.toggled #menu-toggle {
    float: none;
}

.helper-brand {
    display: none;
}

@media(max-width: 767px) {
    .helper-brand {
        display: inline-block !important;
        text-align: center;
    }

    #wrapper, #wrapper.toggled {
        padding-left: 0;
    }

    #wrapper #sidebar-wrapper {
        width: 60px !important;
    }

    #wrapper .sidebar-nav {
        width: auto;
        text-indent: 9px;
    }

    #wrapper .sidebar-nav  li {
        text-indent: 9px;
    }

    #wrapper #menu-toggle {
        display: none;
    }

    #wrapper #sidebar-wrapper li span:not(.icon) {
        display: none;
    }

    #wrapper #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 80px;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        /*width: 0;*/
        width: 60px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 80px;
    }
}

.bubble {
    position: relative;
    border-radius: 5px;
    border: #75caeb solid 0;
    background-color: #75caeb;
    padding: 4px 8px;
    margin-bottom: 5px;
}

.bubble.bubble-right {
    background-color: inherit;
    border-width: 2px;
}

.bubble .pointer {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent #75caeb;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -9px;
    top: 50%;
}

.bubble-right .pointer {
    border-width: 9px 0 9px 9px;
    right: -9px;
    border-color: transparent #75caeb;
}

.bubble-left .pointer {
    border-width: 9px 9px 9px 0;
    left: -9px;
}









.contact-remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.contact-label {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}